<header class="container- fluid sticky-top ">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <div class="container-xl">
            <a class="navbar-brand " routerLink="" routerLinkActive="active"> Eu </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="table" routerLinkActive="active">Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cards" routerLinkActive="active">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="geolocation.html">Geolocation</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll ">
                        <li class="nav-item ">
                            <a class="nav-link" href="sign-up.html">Sign up</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="sign-in.html">Sign in</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>
